
.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
/* nav start------------------------------ */
.nav-main{
    background-image: url(./Assets/Hero-bg.png);
    height: 698px;
}
nav {
    font-size: 34px;
    font-family: "Inter", sans-serif;
}
ul {
    display: flex;
    padding: 52px 51px;
    justify-content: space-between;
    width: 1360px;
    margin: 0 auto;
}

li {
    font-weight: 900;
    color: #4E47FF;
    list-style: none;
}
button.primary-btn {
    width: 133px;
    height: 48px;
    background-color: #4E47FF;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    font-family: "Inter", sans-serif;
}
/* btn hover -------------------------------------*/
.primary-btn:hover{
    color: #ffffff;
    background-color:#0092f3;;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}
/* btn hover end------------------------------------ */
.nav-h1 {
    text-align: center;
    font-size: 65px;
    font-family: "Raleway", sans-serif;
}
.nav-h1 {
    text-align: center;
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    margin-top: 80px;
}
.nav-h1 .primary-btn{ 
width: 174px;
font-family: "Inter", sans-serif;
}

/* Action start--------------------------- */

section.Action-main {
    width: 1360px;
    height: 328px;
    background-color: #f5f8ff;
    margin: 0 auto;
    margin-top: 116px;
}
.action-main-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F8FF;
}
h3.action-h1 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    font-family: "Raleway", sans-serif;
}
p.action-p {
    font-size: 24px;
    font-weight: normal;
    color: #00000066;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
}
.action-text .primary-btn{
     font-family: "Raleway", sans-serif;
     width: 229px;
     margin-top: 20px;
}

.action-secendary, img {
    border-radius: 50px;
}
/* Productive start--------------------------------- */
section.Productive {
    width: 1360px;
    background: #130af114;
    height: 306px;
    margin: 0 auto;
    margin-top: 116px;
    border-radius: 22px;
    display: flex;
    align-items: center;
}
.Productive-main {
    width: 1270px;
    margin: 0 auto;
    height: 206px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #4e47ff00;
}
h3.Productive-h3 {
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
}
.pro-h1-pro-p {
    display: flex;
    margin-top: 40px;
    gap: 180px;
}
h1.pro-h1 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: "Inter", sans-serif;

}

p.pro-p {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color: #00000066;
    font-family: "Inter", sans-serif;
}
/* user--------------------------------- */
section.Users {
    width: 1360px;
    height: 370px;
    margin: 0 auto;
    margin-top: 137px;
    border-radius: 22px;
}
h3.user-text-h3- {
    text-align: center;
    font-size: 48px;
    color: #252432;
    font-family: "Raleway", sans-serif;
}
.user-flex {
    width: 435px;
    height: 253px;
    background-color: #ffffff;
    border-radius: 16px;
    margin-top: 60px;
}
.user-all-product {
    padding: 20px 35px;
}
.user-h3 {
    font-size: 21px;
    padding: 0px 35px;
    font-family: "Raleway", sans-serif;
    color: #1E1E1E;
}
p.user-p {
    font-size: 20px;
    color: #1E1E1E;
    padding: 20px 35px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}
.user-avatar-main {
    padding: 10px 35px;
    display: flex;
    gap: 12px;
}
h5.user-text-h5 {
    font-size: 21px;
    color: #757575;
    font-family: "Inter", sans-serif;
}
p.user-p-text {
    font-size: 21px;
    color: #B3B3B3;
    margin-top: 5px;
}
.user-main-flex {
    display: flex;
    justify-content: space-between;
}
/* focus -----------------------------*/
section.focus {
    width: 1360px;
    height: 680px;
    background: #fff;
    margin: 0 auto;
    margin-top: 137px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.focus-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1.focus-h1 {
    font-size: 50px;
    font-weight: 800;
    color: #000000;
    font-family: "Raleway", sans-serif;

}

p.focus-p {
    font-size: 16px;
    font-weight: 400;
    color: #00000082;
    font-family: "Raleway", sans-serif;
}

button.primary-btn {
    width: 195px;
}

/* get in touch----------------------------------------- */
section.Get-in-touch {
    width: 1360px;
    height: 692px;
    margin: 0 auto;
    margin-top: 92px;
    border-radius: 22px;
    display: flex;
    align-items: center;
}
.get-in-touch-main {
    font-size: 75px;
    color: #000000;
    font-family: "Raleway", sans-serif;
}

.get-in-label {
    display: flex;
    flex-direction: column;
    margin-left: 270px;
    gap: 10px;
}

input#Email {
    width: 460px;
    height: 70px;
    padding: 0px 20px;
    border: none;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

input[type="Name"] {
    width: 460px;
    height: 70px;
    padding: 0px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

textarea {
    width: 460px;
    height: 100px;
    padding: 35px 20px;
    border: none;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
.get-in-label .primary-btn{

width: 494px;
}
label {
    margin-left: 5px;
    font-size: 18px;
    font-family: "Inter", sans-serif;

}
/* footer------------------------------------------ */
ul.footer-ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: end;
}

p.footer-p {
    padding: 18px 683px;
    text-align: center;
    font-size: 16px;
    color: #8987A1;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.footer-last {
    margin-top: -31px;
    font-family: "Inter", sans-serif;

}
.footer-main {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1.footer-h1 {
    font-size: 100px;
    color: #4E47FF;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    margin-top: 85px;
}
.footer-last ul li a {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
}
section.footer {
    margin-top: 14px;
    background-color: #fff;
    height: 428px;
}